#eaeinputs {
    padding: 40px;
}
.cachetable {
    border-collapse: collapse;
    word-wrap: break-word;
    margin: auto;
}
.cachetable th {
    font-weight: bold;
    padding: 5px;
}
.cachetable td, .cachetable th {
    border: 1px solid grey;
}
.cachetable td {
    padding: 5px;
    line-height: 25px;
}
.eae_genetag {
    border: solid 1px #515BA2;
    padding: 4px;
    line-height: 10px;
    margin-right: 5px;
    background-color: #dde7ff;
    border-radius: 3px;
    display: inline-block;
    text-wrap: normal;
    white-space: normal;
    font-size: 10px;
}
.eae_genetag:hover {
    color: #255b17;
    border-color: #255b17;
    background-color: #d0ffd4;
    cursor: pointer;
}

.axis path,
.axis line {
    fill: none;
    stroke: rgb(128, 128, 128);
    shape-rendering: crispEdges;
}

#cvPerformanceGraph .points circle {
    fill: rgb(128, 193, 119);
    stroke: rgb(84, 151, 12);
}

#addPE {
    padding: 4px;
}

.PathwayEnrichment {
    text-align: left;
    padding-top: 10px;
}

.CrossValidation {
    text-align: center;
    padding-top: 10px;
}

.modeltable {
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
.modeltable th {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
.modeltable td, .modeltable th {
    padding: 5px;
    border: 1px solid grey;
}
.gt th {
    min-width: 50px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

.inlineTable {
    display: inline-block;
    vertical-align: top;
    padding:0px 20px;
}

.cvInfo {
    margin: auto;
}

.cvInfo th{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}
.cvInfo td{
    vertical-align: top;
}

#modeltableDiv {
    width: 100%;
    height: 100%;
}

#modeltable {
    margin: auto;
    border: solid 1px #ddd;
    background-color: #fff;
}

#modeltable tr:hover {
    background-color: #f4f4f4;
}

#modeltable th {
    height: 30px;
    line-height: 30px;
    background-color: #eee;
    cursor: pointer;
}

#modeltable th:hover {
    background-color: #e0e0e0;
}

#modeltable th .u, #modeltable th .d {
    display: none;
}

#modeltable th.s0 .u {
    display: inline-block;
}

#modeltable th.s1 .d {
    display: inline-block;
}

#modeltable td, #modeltable th {
    padding: 0 10px;
}

#modeltable td:nth-of-type(1), #modeltable th:nth-of-type(1) {
    text-align: right;
    width: 200px;
}

#modeltable td:nth-of-type(2), #modeltable th:nth-of-type(2) {
    text-align: left;
    width: 300px;
}

#modeltable td {
    height: 20px;
    line-height: 20px;
    font-family: "Lucida Console", monospace;
}

#modeltable td span {
    display: inline-block;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}